<button type="button" data-target=".register-form" class="btn btn_left" data-toggle="modal">Register</button>
<button type="button" data-target=".login-form" class="btn" data-toggle="modal">Login</button>
