<%= javascript_include_tag "text_type" %>
<div class="info-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-5 text-right">
        <p class="lead">
          <span id="info-type-animation0"></span><br/>
          <span id="info-type-animation1"></span><br/>
          <span id="info-type-animation2"></span><br/>
          <span id="info-type-animation3"></span><br/>
        </p>
      </div>
    </div>
  </div>
</div>
