<section class="clearfix">
  <article class="one_third centergif">
    <img class="gif" src="http://lukemccomb.com/images/box5A.gif">
  </article>
</section>
<section class="clearfix">
  <article class="full_column srchLukefolio">
    <h1>LUKEFOLIO</h1>
    <form class="full_column search_input">
      <input type="text" id="searchinput" placeholder="Search!" autocomplete="off" autofocus>
    </form>
  </article>
</section>




