<% if session[:user_id] %>
  <section class="clearfix">
    <article class="full_column">
        <h1>Recent</h1>
        <% @photos.each do |image| %>
          <div class="image one_fourth">
            <%= image_tag "#{image.url}" %>
            <p><%= image.title %></p>
            <% if image.keywords != "{}" %>
              <p><%= image.keywords %></p>
            <% end %>
          </div>
        <% end %>
    </article>
  </section>
<% else %>
<section class="clearfix">
  <article class="one_third centergif">
    <img class="gif" src="http://lukemccomb.com/images/box5A.gif">
  </article>
</section>
<section class="clearfix">
  <article class="full_column srchLukefolio">
    <h1>LUKEFOLIO</h1>
    <form class="full_column search_input">
      <input type="text" id="searchinput" placeholder="Search!" autocomplete="off" autofocus>
    </form>
  </article>
</section>
<% end %>



