<% if session[:user_id] %>
<section class="clearfix thumbgallery full_column">
  <% @photos.each do |image| %>
    <article class="image one_fourth">
      <a href="/images/<%= image.id %>" class="single-image">
        <img src="<%= image.url %>"/>
      </a>
    </article>
  <% end %>
</section>
<% else %>
<section class="clearfix">
  <article class="full_column srchLukefolio">
    <h1>LUKEFOLIO</h1>
    <form class="full_column search_input">
      <input type="text" id="searchinput" placeholder="Search!" autocomplete="off" autofocus>
    </form>
  </article>
</section>
<% end %>