<p class="info">
  I'm currently a student of gSchool by Galvanize learning how to develop web applications using <br/>
  Ruby, Ruby on Rails, JavaScript, HTML5, CSS3/SCSS, Postgress, ActiveRecord, Agile and Test-Drive Development. <br/>
  I come from a photography & design background and I love the outdoors. <br/>
  I'm currently searching for employment as a Full Stack Developer. <br/>
  Contact me at <%= mail_to "lucasmccomb@gmail.com", name = nil, html_options = { class: 'mail-to'} %>
</p>