<p id="info-type-animation">
  Hey there. My name is Luke. I'm a software engineer at IBM. I live in Denver, Colorado.
  Prior to IBM, I worked at <%= link_to "Mondo Robot", "http://www.mondorobot.com/#/home", :target => "_blank" %>.
</p>

<p>
  I attended the
  <%= link_to "S.I. Newhouse School",
    "http://newhouse.syr.edu/",
    :target => "_blank"
  %>
  at Syracuse University where I received a B.A. in Visual and
  Interactive Communications with a focus on photography.
  In November of 2014 I enrolled in Galvanize's
  <%= link_to "full stack web development training program",
    "http://www.galvanize.com/courses/full-stack/#.VeyONNNViko",
    :target => "_blank" %>.
</p>

<p>
  Feel free to reach out to me at <%= mail_to "lucasmccomb@gmail.com", name = nil, html_options = { class: 'mail-to'} %> with feedback or questions. Thanks for checking out my site!
</p>
