.menu_logo {
  width: 3rem;
}

.site_logo {
  width: 3rem;
}

.lm-logo-wrapper {
  margin-top: 2rem;
  text-align: center;
}

.session-actions {
  float: right;
  margin: 2rem 2rem 0 0;
}

.nav {
  margin: .5rem 0 0 3.4rem;
  min-width: 10rem;
}

.nav-item {
  display: block;
  padding-left: 1rem;
}
