.header {
  background-color: rgba(255,255,255, .95);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu_logo {
  width: 3rem;
}

.site_logo {
  width: 3rem;
}

.lm-logo-wrapper {
  text-align: center;
}

.session-actions {
  float: right;
}

.nav {
  margin: .5rem 0 0 1.4rem;
  min-width: 10rem;
}

.nav-item {
  display: block;
  padding-left: 1rem;
}
