.menu_logo {
  width: 3rem;
}

.header-logo {
  width: 25px;
}

.site_logo {
  width: 3rem;
}

.lm-logo-wrapper {
  text-align: center;
}

.session-actions {
  float: right;
}

.nav-item {
  display: block;
  padding-left: 1rem;
}
