<section class="userDashboard">
  <div class="row">
    <% if @user.favorites.length > 0 %>
      <div class="col-sm-12">
        <h3>Favorites</h3>
      </div>
      <% @user.favorites.each do |favorite| %>
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <a href="/images/<%= favorite.image_id %>">
            <img src="<%= favorite.image.thumb %>" class="grid-image"/>
          </a>
        </div>
      <% end %>
    <% else %>
      <div class="col-sm-12">
        <h3>No Favorites</h3>
      </div>
    <% end  %>
  </div>
</section>
