button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: #000;
  margin: 0 auto;
  width: 100%;
}

button:hover {
  background-color: #000;
  color: #FFF;
}

.menu_logo {
  background-color: #000;
  border-radius: 3px;
  cursor:pointer;
  display: block;
  float: left;
  height: auto;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 11px;
  min-width: 40px;
  padding: 4px 4px 4px 6px;
  width: 3%;
}

.social {
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
  min-width: 26px;
  width: 2.5%;
}

.login-btn {
  background-color: #000;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-top: 5%;
  width: 50%;
}

.reg-btn {
  background-color: #000;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-top: 5%;
  width: 50%;
}

.favorited {
  background-color: #ffff00;
  color: #000;
  display: inline-block;
  margin: 0 auto;
  margin-top: 5%;
}

.favorite {
  background-color: #000;
  color: #FFF;
  display: inline-block;
  margin: 0 auto;
  margin-top: 5%;
}

.favoriting {
  margin: 0 auto;
  width: 20%;
}

.delete-comment {
  background-color: #000;
  display: block;
  font-size: 75%;
  margin: 0 auto;
  margin-bottom: 2%;
  width: 50%;
}

.comment-submit {
  margin-bottom: 2%;
}

.keyword-button {
  background-color: #000;
  color: #ffffff;
  width: 30%;
}

.user-update {
  background-color: #000;
  color: #ffffff;
  width: 20%;
  margin-top: 2%;
}

.logout {
  background-color: #000;
  border-radius: 7%;
  color: #FFF;
  cursor:pointer;
  display: block;
  float: right;
  font-size: 90%;
  font-weight: 200;
  margin-top: 1.15%;
  padding: .5%;
}
