.reg {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  margin-left: -6%;
  cursor:pointer;
  color: #001aa5;
  text-shadow: 2px 2px 2px #fff9ca;
  font-size: 120%;
}

.reg_form {
  float: right;
  display: none;
  border-radius: 5px;
  padding: 2%;
  background-color: #001aa5;
  color: black;

}

.reg_form_view {
  display: block;
  float: right;
  border-radius: 5px;
  padding: 2%;
  background-color: #001aa5;
  color: black;
  margin-bottom: -30%;

}

.login {
  float: right;
  margin-top: 20px;
  color: #001aa5;
  display: block;
  cursor:pointer;
  user-select: none;
  text-shadow: 2px 2px 2px #fff9ca;
  font-size: 120%;
}

.login_form {
  float: right;
  display: none;
  border-radius: 5px;
  padding: 2%;
  background-color: #001aa5;
  color: #ffffff;
}

.login_form_view {
  display: block;
  float: right;
  border-radius: 5px;
  padding: 2%;
  background-color: #001aa5;
  color: #ffffff;
  margin-bottom: -30%;

}

.reg_form_view input {
  width: 100%;
}

.login_form_view input {
  width: 100%;
  display: inline-block;
}

.search {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

#search_term {
  border: 1px solid grey;
  padding: 1%;
  width: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
  font-size: 130%;
  box-shadow: 2px 2px 2px #ff4e24;
  &:focus {
    background-color: #001aa5;
    color: #ffffff;
    font-weight: lighter;
  }
}

.search-button {
  background-color: #ff4e24;
  color: #001aa5;
  display: block;
  margin: 2% auto;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.5);
  &:hover {
    background-color: #001aa5;
    color: white;
    box-shadow: 2px 2px 2px #ff4e24;
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #001aa5;
}

.flash {
  position: fixed;
  top: 48%;
  color: #ffffff;
  font-size: 150%;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.comment-form {
  margin-left: auto;
  color: black;
  text-align: center;
  .comment-submit {
    color: white;
    background-color: #51a9ff;
  }
}

.add-keywords {
  text-align: center;

  .keyword-input {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}