.reg {
  color: #000;
  cursor:pointer;
  float: right;
  font-size: 120%;
  margin-left: -6%;
  margin-right: 30px;
  margin-top: 20px;
}

.reg_form {
  background-color: #000;
  border-radius: 5px;
  color: #FFF;
  display: none;
  float: right;
  padding: 2%;
}

.reg_form_view {
  color: #000;
  background-color: rgba(#000, 0.25);
  border-radius: 5px;
  display: block;
  float: right;
  margin-bottom: -30%;
  padding: 2%;
  position: relative;
  z-index: 1;
}

.login {
  color: #000;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 120%;
  margin-top: 20px;
  user-select: none;
}

.login_form {
  background-color: rgba(#000, 0.25);
  border-radius: 5px;
  color: #000;
  display: none;
  float: right;
  padding: 2%;
}

.login_form_view {
  display: block;
  float: right;
  border-radius: 5px;
  padding: 2%;
  background-color: rgba(#000, 0.25);
  color: #ffffff;
  margin-bottom: -30%;
  position: relative;
  z-index: 1;
}

.reg_form_view input {
  width: 100%;
}

.login_form_view input {
  width: 100%;
  display: inline-block;
}

.search {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

#search_term {
  border: 1px solid grey;
  padding: 1%;
  width: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
  font-size: 130%;
  &:focus {
    background-color: #FFF;
    border: none;
    box-shadow: none;
    color: #000;
    font-weight: lighter;
  }
}

.search-button {
  background-color: #000;
  color: #FFF;
  display: block;
  margin: 2% auto;
  border: 1px solid grey;
  &:hover {
    background-color: #FFF;
    color: #000;
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #000;
}

.flash {
  position: fixed;
  top: 48%;
  color: #ffffff;
  font-size: 150%;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.comment-form {
  margin-left: auto;
  color: #000;
  text-align: center;
  .comment-submit {
    color: #FFF;
    background-color: #000;
  }
}

.add-keywords {
  text-align: center;

  .keyword-input {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
