.image img {
  width: 100%;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.image img:hover {
  box-shadow: -4px 3px 3px rgba(81, 169, 255, 0.8),
  4px 4px 3px rgba(255, 15, 174, 0.80),
  3px -4px 3px rgba(255, 251, 3, 0.80);
}

.image {
  display: inline-block;
  padding-right: 1%;
  padding-left: 1%;
  margin: .5% auto;
  max-height: 145px;
  overflow: hidden;
}

.image:hover {
  @include animation(scale 1.0s ease-in, slide 2.0s ease);
}

.centergif {
  margin-top: 40px;
  margin-left: 38.7%;
  margin-right: auto;
  border-radius: 40px;
  width: 60%;
}

.gif {
  border-radius: 15px;
}

.showimage {
  width: 90%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  img {
    display: block;
    margin: 0 auto;
    width: auto;
    box-shadow: 3px 3px 3px white, -3px -3px 3px white;
  }
  p {
    text-align: center;
  }
  .comment {
    font-size: 90%;
  }
  .comment-created {
    font-size: 80%;
    color: #119ac4;
  }
  hr {
    width: 20%;
  }
  .comment-card {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    width: 30%;
    display: block;
    padding: .1%;
    margin: 0 auto;
    border-radius: 5px;
  }
}