/* ----- =columns ----- */

.one_half {
  width: 460px;
}

.one_third {
  width: 300px;
}

.two_third {
  width: 620px;
}

.one_fourth {
  width: 17.5%;
}

.three_fourth {
  width: 700px;
}

.full_column {
  width: 100%;
}

/* ----- =structure ----- */

body {
  background: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 110%;
  width: 100%;
}

.wrapper {
  color: #ffffff;
  margin: 0 auto;
  max-width: 90%;
}

.site_header {
  background-color: #ffffff;
  height: 05.8888889%;
  min-height: 50px;
  padding: 0 12px 0 12px;
  text-align: center;
  width: auto;
}

label {
  color: #000;
}

.site_logo {
  border-radius: 4px;
  display: inline-block;
  height: auto;
  margin-bottom: 2px;
  margin-left: 1%;
  margin-right: 0;
  margin-top: 5px;
  min-width: 45px;
  width: 3.5%;
}

#right_float {
  text-align: right;
}

#footer-cue {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  left: 3px;
  padding: .2%;
  position: fixed;
  top: 45%;
}

.footer-cue-hide {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  display: none;
  left: 3px;
  padding: .2%;
  position: fixed;
  top: 45%;
}

.footer {
  display: none;
  left: 3px;
  position: fixed;
  text-align: left;
  top: 32.5%;
  width: 10%;
}

.thumbgallery {
  @include outer-container;
}

p {
  text-align: center;
}

.info {
  color: #000;
  line-height: 30px;
  margin-top: 10%;
  text-align: left;

  .mail-to {
    color: red;
  }
}

.errors {
  color: red;
  display: inline-block;
  float: right;
}

.field_with_errors {
  display: inline-block;
}

.head-shot {
  max-width: 100%;
}

.info-wrapper {
  margin-top: 4rem;
}

.head-shot-wrapper {
  display: inline-block;
  float: left;
  margin-left: 2rem;
  margin-right: 5rem;
}
