.nav_menu  {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.60);
  width: 10%;
  min-width: 200px;
  position: fixed;
  left: 10px;
  top: 40px;
  color: #ffffff;
  text-align: justify;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 200%;
  display: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}



.nav_menu_view  {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.60);
  width: 3%;
    min-width: 100px;
  position: absolute;
  left: 10px;
  top: 6.5%;
  color: #ffffff;
  text-align: justify;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 200%;
  display: block;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
