.wrapper h1 {
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: auto;
  font-size: 700%;
  text-align: center;
  font-weight: 100;
  margin-bottom: 5%;
  width: 100%;
  display: block;
}

.crazy-shadow {
  @extend %text-shadow-cmy;
}

.welcome h2 {
  text-align: left;
  font-size: 200%;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
  color: rgba(255, 251, 3, 0.95);
}

div.wrapper h3 {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 100%;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
  text-align: center;
  font-weight: 100;
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

.welcome h3 {
  text-align: left;
  color: #ffffff;
  font-size: 130%;
  line-height: 110%;
  text-shadow: 2px 4px 2px rgba(255, 255, 255, 1.0);
}

a:link {
  color: rgba(255, 55, 26, 0.90);
  text-decoration: none;
  user-select: none;

}

a:visited {
  color: rgba(255, 55, 26, 0.90);
  text-decoration: none;
  user-select: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  @extend %text-shadow-cmy;
}

.pinklink:link {
  color: rgb(255, 15, 174);
  text-decoration: none;
  user-select: none;

}

.pinklink:visited {
  color: rgb(255, 15, 174);
  text-decoration: none;
  user-select: none;
}

.pinklink:hover {
  color: #ffffff;
  text-decoration: none;
  @extend %text-shadow-cmy;

}

.bluelink:link {
  color: rgb(81, 169, 255);
  text-decoration: none;
  user-select: none;

}

.bluelink:visited {
  color: rgb(81, 169, 255);
  text-decoration: none;
  user-select: none;
}

.bluelink:hover {
  color: #ffffff;
  text-decoration: none;
  @extend %text-shadow-cmy;
}

h4 {
  text-align: center;
}
h5 {
  text-align: center;
  color: rgba(24, 199, 255, 0.85);
}

.srchLukefolio h1 {
  margin-top: 30%;
}