.wrapper h1 {
  color: #000;
  display: block;
  font-size: 500%;
  font-weight: 100;
  letter-spacing: auto;
  margin-bottom: 3%;
  margin-top: 0;
  text-align: center;
  width: 100%;
}

div.wrapper h3 {
  color: #000;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
  width: auto;
}

.welcome h3 {
  color: #000;
  font-size: 130%;
  line-height: 110%;
  text-align: left;
}

a:link {
  color: #FFF;
  text-decoration: none;
  user-select: none;
}

a:visited {
  color: #FFF;
  text-decoration: none;
  user-select: none;
}

a:hover {
  color: #868483;
  text-decoration: none;
}

h4 {
  text-align: center;
}

h5 {
  color: #000;
  text-align: center;
}
