.body {
  background-color: #FFF;
}

.grid-image {
  margin-top: 3rem;
  max-width: 100%;
  width: 100%;
}

.head-shot {
  max-width: 100%;
}

.info-wrapper {
  background-attachment: fixed;
  background-image: linear-gradient(to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%),
    url("Florence_BobliGardens-me.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  padding-top: 200px;
}

.type-cursor {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.singleImageView {
  display: block;
  margin: 3rem auto;
  max-width: 100%;
}

.thumbgallery {
  max-width: 100%;
  padding-bottom: 10rem;
}

.searchTerm {
  text-align: center;
}

.grid-wrapper {
  margin-top: 4rem;
}

.userDashboard {
  margin-top: 6rem;
}
