.body {
  background-color: #FFF;
}

.search {
  margin-top: 3rem;
  text-align: center;
}

.grid-image {
  margin-top: 3rem;
  max-width: 100%;
  width: 100%;
}

.head-shot {
  max-width: 100%;
}

.info-wrapper {
  margin-top: 10rem;
}

.singleImageView {
  display: block;
  margin: 3rem auto;
  max-width: 100%;
}

.thumbgallery {
  max-width: 100%;
  padding-bottom: 10rem;
}

.searchTerm {
  text-align: center;
}

.grid-wrapper {
  margin-top: 4rem;
}

.userDashboard {
  margin-top: 6rem;
}
