.body {
  background-color: #FFF;
}

.search {
  margin-top: 3rem;
  text-align: center;
}

.grid-image {
  margin-top: 3rem;
  max-width: 100%;
}

.head-shot {
  max-width: 100%;
}

.info-wrapper {
  margin-top: 10rem;
}
