/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* clearfix */
.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }

/*pixels to percentages : target / context = %*/

/* ----- =columns ----- */

.one_half { width:460px; }
.one_third {	 width:300px; }
.two_third {	 width:620px; }
.one_fourth {	 width:220px; }
.three_fourth { width:700px; }
.full_column {	 width: 100%; }

/*article {*/
/*position:relative;*/
/*margin: 1% auto;*/
/*background-color: transparent;*/
/*float: left;*/
/*}*/

/*form {*/
/*border: 1px solid #ffffff;*/
/*border-radius: 8px;*/
/*padding: 5%;*/
/*background-color: rgba(0, 0, 0, 0.25);*/
/*color: black;*/
/*}*/

/* ----- =structure ----- */


body {
    font-family: Helvetica, sans-serif;
    font-size: 110%;
    background: url("tetons.jpg") no-repeat center center fixed;
}

a:link {
    color: rgba(255, 251, 3, 0.9);
    text-decoration: none;
    user-select: none;

}

a:visited {
        color: rgba(255, 251, 3, 0.9);
    text-decoration: none;
    user-select: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    /*text-shadow: -7px 7px 3px rgba(81, 169, 255, 0.8), 7px 7px 3px rgba(255, 15, 174, 0.80), 0px -7px 3px rgba(255, 251, 3, 0.80);*/
    text-shadow: -5px 5px 2px rgba(81, 169, 255, 0.8), 5px 5px 2px rgba(255, 15, 174, 0.80), 0px -5px 2px rgba(255, 251, 3, 0.80);

}

.pinklink:link {
    color: rgb(255, 15, 174);
    text-decoration: none;
    user-select: none;

}

.pinklink:visited {
    color: rgb(255, 15, 174);
    text-decoration: none;
    user-select: none;
}

.pinklink:hover {
    color: #ffffff;
    text-decoration: none;
    /*text-shadow: -7px 7px 3px rgba(81, 169, 255, 0.8), 7px 7px 3px rgba(255, 15, 174, 0.80), 0px -7px 3px rgba(255, 251, 3, 0.80);*/
    text-shadow: -5px 5px 2px rgba(81, 169, 255, 0.8), 5px 5px 2px rgba(255, 15, 174, 0.80), 0px -5px 2px rgba(255, 251, 3, 0.80);

}

.bluelink:link {
    color: rgb(81, 169, 255);
    text-decoration: none;
    user-select: none;

}

.bluelink:visited {
    color: rgb(81, 169, 255);
    text-decoration: none;
    user-select: none;
}

.bluelink:hover {
    color: #ffffff;
    text-decoration: none;
    /*text-shadow: -7px 7px 3px rgba(81, 169, 255, 0.8), 7px 7px 3px rgba(255, 15, 174, 0.80), 0px -7px 3px rgba(255, 251, 3, 0.80);*/
    text-shadow: -5px 5px 2px rgba(81, 169, 255, 0.8), 5px 5px 2px rgba(255, 15, 174, 0.80), 0px -5px 2px rgba(255, 251, 3, 0.80);

}

button {
    color: #51a9ff;
    margin: 0 auto;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    width: 100%;
}

button:hover {
    background-color: #ffffff;
    color: #ff0fae;
}

.menu_logo {
    margin-top: 11px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    min-width: 40px;
    width: 3%;
    height: auto;
    display: block;
    float: left;
    border-radius: 3px;
    padding: 4px 4px 4px 6px;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);*/
    cursor:pointer;
}

.question_logo {
    margin-top: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: block;
    float: left;
    border-radius: 3px;
    padding: 3px 3px 3px 15px;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.9);
    font-size: 35px;
    font-weight: 400;
    color: #ffffff;
    cursor:pointer;
}

.question_logo:hover {
    text-shadow: -3px 2px 2px rgba(81, 169, 255, 0.8), 3px 3px 2px rgba(255, 15, 174, 0.80), 2px -3px 2px rgba(255, 251, 3, 0.80);

}

.menu_logo:hover {
    box-shadow: -3px 2px 2px rgba(81, 169, 255, 0.8), 3px 3px 2px rgba(255, 15, 174, 0.80), 2px -3px 2px rgba(255, 251, 3, 0.80);
}



.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    color: #ffffff;
    width: 100%;
}

#right_float {
    text-align: right;
}



label {
    color: #ffffff;
}

input {
    color: #51a9ff;
    border-radius: 8px;
    text-align: center;
}



div.wrapper h1:hover {
    text-shadow: -7px 7px 3px rgba(81, 169, 255, 0.8), 7px 7px 3px rgba(255, 15, 174, 0.80), 0px -7px 3px rgba(255, 251, 3, 0.80);
    color: #ffffff;
}

div.wrapper h3 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 100%;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
    text-align: center;
    font-weight: 100;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

/**/

.site_header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    min-height: 50px;
    height: 05.8888889%;
    padding: 0 12px 0 12px;
    text-align: center;
}

.site_logo {
    width: 3.5%;
    min-width: 45px;
    height: auto;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 05.1061224%;
    border-radius: 4px;
}

.site_logo:hover {
    box-shadow: -3px 2px 2px rgba(81, 169, 255, 0.8), 3px 3px 2px rgba(255, 15, 174, 0.80), 2px -3px 2px rgba(255, 251, 3, 0.80);
}

.reg {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    cursor:pointer;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.60);
    font-size: 120%;
}

.reg_form {
    float: right;
    display: none;
    border-radius: 5px;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.60);
    color: black;

}

.reg_form_view {
    display: block;
    float: right;
    border-radius: 5px;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.60);
    color: black;
    margin-bottom: -30%;

}

.login {
    float: right;
    margin-top: 20px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    user-select: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.60);
    font-size: 120%;


}

.logout {
    float: right;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-left: 112px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    user-select: none;
    font-size: 120%;

}

.login_form {
    float: right;
    display: none;
    border-radius: 5px;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.60);
    color: black;


}

.login_form_view {
    display: block;
    float: right;
    border-radius: 5px;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.60);
    color: black;
    margin-bottom: -30%;

}

.reg_form_view input {
    width: 100%;
}

.login_form_view input {
    width: 100%;
}

.nav_menu  {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.60);
    width: 15%;
    min-width: 200px;
    position: fixed;
    left: 10px;
    top: 40px;
    color: #ffffff;
    text-align: justify;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 200%;
    display: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

}



.nav_menu_view  {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.60);
    width: 15%;
    min-width: 200px;
    position: fixed;
    left: 10px;
    top: 40px;
    color: #ffffff;
    text-align: justify;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 200%;
    display: block;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

}

.welcome h2 {
    text-align: left;
    font-size: 200%;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
    color: rgba(255, 251, 3, 0.95);
}

footer {
    position: fixed;
    bottom: 10px;
    right: 0px;
    display: inline-block;
    text-align: center;
}

.about {
    font-weight: 100;
    line-height: 175%;
    color: #ffffff;
    font-size: 100%;
    display: none;
    margin-bottom: -30%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

.about_view {
    font-weight: 100;
    font-size: 104%;
    display: block;
    margin-bottom: -40%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    line-height: 125%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social {
    width: 2%;
    min-width: 30px;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
}

.social:hover {
    box-shadow: -3px 2px 2px rgba(81, 169, 255, 0.80), 3px 3px 2px rgba(255, 15, 174, 0.80), 2px -3px 2px rgba(255, 251, 3, 0.80);
}

.social_foot {
    margin: 0 auto;
    width: 100%;
}

.search_input {
    width: 100%;
    display: inline-block;
    margin-top: 20%;
    border-radius: 5px;
}

#searchinput {
    width: 50%;
    text-align: center;
    left: 24.5%;
    top: 80%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.10);
    font-size: 130%;
}

#searchinput:focus {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 1.0), -5px 5px 5px rgba(255, 255, 255, 1.0), 5px -5px 5px rgba(255, 255, 255, 1.0), -5px -5px 5px rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0.50);
    color: #ffffff;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #51a9ff;
}

.tobuild {
    background-color:rgba(0, 0, 0, 0.60);
    border-radius: 5px;
    font-size: 150%;
}

.srchLukefolio {
    margin-top: 1%;
}

.srchpage {
    margin-top: 30%;
}

div.wrapper h1 {
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: auto;
    font-size: 700%;
    text-shadow: 2px -2px 2px rgba(255, 255, 255, 0.15), 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-weight: 100;
    margin-bottom: 5%;
    width: 100%;
}

.welcome {
    margin-top: 22%;
}

.welcome h3 {
    text-align: left;
    color: #ffffff;
    font-size: 130%;
    line-height: 110%;
    text-shadow: 2px 4px 2px rgba(255, 255, 255, 1.0);
}

.flash {
    position: fixed;
    top: 48%;
    color: #ffffff;
    font-size: 150%;
    text-align: center;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.centergif {
    margin-top: 40px;
    margin-left: 38.7%;
    margin-right: auto;
    border-radius: 40px;
    width: 60%;
}

.gif {
    border-radius: 15px;
}

.about hr {
    width: 75%;
}

.image img {
    width: 100%;
}

.image {
    float: left;
    display: inline-block;
    padding-right: 1%;
    padding-left: 1%;
    margin: 0 auto;

}

.img p {
    font-size: 100%;
}