<nav class="navbar navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-10">
        © Luke McComb 2017
      </div>
    </div>
  </div>
</nav>
